/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	


/******************************************
		Main
******************************************/

html{
	font-family:'Just Another Hand', cursive;
	letter-spacing:3px;
	
	background:hsl(260,65%,95%);	
}

#container{
	width:100vw;
	max-width:800px;
	height:100vh;
	margin:0 auto;
}

h1{
	font-size:48px;
	padding:20px;
}

footer{
	margin-top:25px;	
}

footer p{
	padding:20px;
	text-align:right;
}

/******************************************
		Transforms
******************************************/

.shapes{
	display:flex;
	justify-content:space-evenly;
}

.shape1{
	width:60px;
	height:60px;
	background:lightblue;
}

.shape1:nth-child(2){
	/* use transform to rotate the element 
	rotation is measured in degrees, up to 360 */
	transform: rotate(45deg);

	/* transition tells an element to animate a change */
	transition: all 2s;
	/* transition is a shorthand property - at minimum, you need something to transition
	 and a time for the animation
	 "all" means any change will be animated */
}

.shape1:nth-child(2):hover{
	/* change the rotation on hover */
	transform: rotate(200deg);
}

.shape1:nth-child(3){
	/* use transform:scale to change the size of an object
	1 is the default size 
	scale doesn't change the structure of the page, just makes
	the object look bigger or smaller */
	transform: scale(0.5, 0.75);
	/* one value scales width and height
	two values scales width then height */

	/* do a compound transition, different timings for different properties 
	1000ms = 1s*/
	transition: background-color 2s, transform 50ms;
}

.shape1:nth-child(3):hover{
	background-color:red;
}

.shape1:nth-child(3):active{
	transform: scale(4, 4);
}

.shape1:nth-child(4){
	/* skew adds a distortion to the element
	it is also measured in degrees */
	transform: skew(-30deg, 40deg);
	/* skew can be negative or positive, depending on the way
	you want the element to distort
	one value skews horizontal and vertical
	two values skews horizontal then vertical
	you can also use skewX() or skewY() */
}

.shape1:nth-child(5){
	/* transform multiple properties at the same time */
	transform: rotate(20deg) scale(0.8) skew(10deg, 40deg);

	transition: all 2s;
}

.shape1:nth-child(5):hover{
	transform: rotate(270deg) scale(2.3) skew(50deg, -25deg);
}

